{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr class='table-dark'>
			<td>#</td>
			<td>Tipo de Cliente</td>
			<td>Nombre</td>
			<td>RFC</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for cliente in object_list %}
		<tr class="table-active">
			<td>{{ cliente.id }}</td>
			<td>{{ cliente.tipo_cliente }}</td>
			<td>{{ cliente.nombre }}</td>
			<td>{{ cliente.rfc }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'cliente:cliente_editar' cliente.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'cliente:cliente_eliminar' cliente.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registro de clientes</h1>

		{% endif %}
	</tbody>
</table>

{% endblock %}